.friend_list {
  width: 400px;
  margin: 40px auto;
  padding-left: 0;
}
.item {
  background-color: aliceblue;
  display: flex;
  align-items: center;
  margin: 20px;
  box-shadow: 0 0 1em;
  border-radius: 5px;
}

.statusOnline,
.statusOffline {
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: green;
  margin: 0 15px 0 15px;
}

.statusOffline {
  background-color: red;
}

.avatar {
  border-radius: 10px;
  margin: 10px;
}

.name {
  font-size: 24px;
  font-weight: 600;
}
